.login-title {
  background: #1976d2;
  color: #ffffff;
}

.login-input {
  height: 70px;
}

.login-action {
  margin: 0px 7px 7px 7px;
}

.login-error {
  color: red;
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}